<?xml version="1.0"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
                                         "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
	<session-factory name="">
		<property name="hibernate.dialect">org.hibernate.dialect.Oracle10gDialect</property>
		<property name="hibernate.connection.driver_class">oracle.jdbc.driver.OracleDriver</property>
		<property name="hibernate.connection.username">Kiran</property>
		<property name="hibernate.connection.password">Kiran</property>
		<property name="hibernate.connection.url">jdbc:oracle:thin:@localhost:1521:orcl</property>
		<property name="hibernate.hbm2ddl.auto">create</property>
		<property name="hibernate.cache.use_second_level_cache">false</property>
		<mapping class="com.kiran.software.entity.Customer" />
		<mapping class="com.kiran.software.entity.Account" />
	</session-factory>
</hibernate-configuration>
